<?xml version="1.0" ?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
   
  <root>
    <level value="INFO"/>
    <appender-ref ref="CONSOLE"/>
  </root>
   
  <logger name="org.springframework">
    <level value="WARN"/>
  </logger>
   
  <logger name="org.springframework.scheduling">
    <level value="WARN"/>
  </logger>
  
  <logger name="org.apache">
    <level value="WARN"/>
  </logger>
   
  <logger name="ch.qos">
    <level value="WARN"/>
  </logger>

  <logger name="org.red5.server.net.rtmp">
    <level value="WARN"/>
  </logger>

  <logger name="org.red5.server.so.SharedObject" level="WARN"/>

  <logger name="org.hibernate" level="WARN" />
</configuration>